In [ ]:
Null Data Type 
a
(We assign a varibale but we do not assigned any value to that variable)

In [12]:
#Numeric Data Type 

num=17
type(num)

int

In [13]:
#Float Data Type 

num=87.4
type(num)

float

In [14]:
#Complex Data Type 

num= 3+4j
type(num)

complex

In [15]:
#Converting 

a=10.6 
b=int(a) 
type(b)

int

In [23]:
#Converting

a=10
k=3
b=complex(a,k)
b

(10+3j)

In [27]:
#List 

List = [23,34,65,89]
type(List)
List[1]

34

In [28]:
#Tuple 

t= (34,56,88,87)
type(t)

tuple

In [29]:
#Range 

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [32]:
#Dictionary

d= {'Chintan':'3','Sachin':'4'}
d.values()
d.keys()

dict_keys(['Chintan', 'Sachin'])